# Ignore development environment directories and files
.vscode/           # Visual Studio Code settings
.git/              # Git version control directory
venv               # Python virtual environment directory

# Ignore Python cache files
**/*__pycache__    # Python bytecode cache directories

# Ignore project-specific configuration files
.gitignore         # Git ignore file
.dockerignore      # Docker ignore file
Dockerfile         # Dockerfile for building the image
docker-compose.yml # Docker Compose configuration file

# Ignore documentation and temporary files
**/*.md            # Markdown files, typically documentation
**/*.DS_Store      # macOS directory metadata
**/*.log           # Log files

# Ignore specific data files
**/*contact.json   # Contact data in JSON format
**/*icon.png       # Icon files in PNG format

# Ignore everything in the qrious directory
static/javascript/qrious/*

# Allow the dist directory in qrious
!static/javascript/qrious/dist/

# Ignore everything in the dist directory except qrious.min.js
static/javascript/qrious/dist/*
!static/javascript/qrious/dist/qrious.min.js
