# Ignore development environment directories and files
.vscode
.git
venv

# Ignore Python cache files
**/*__pycache__

# Ignore project-specific configuration files
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Ignore documentation and temporary files
**/*.md
**/*.DS_Store
**/*.log

# Ignore specific data files
**/*contact.json
**/*icon.png

# Ignore everything in the qrious directory
static/javascript/qrious/*

# Allow the dist directory in qrious
!static/javascript/qrious/dist/

# Ignore everything in the dist directory except qrious.min.js
static/javascript/qrious/dist/*
!static/javascript/qrious/dist/qrious.min.js
