@keyframes box-shadow-pulse {
    0%,
    100% {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #5b04e7;
    }

    50% {
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #3a02a7;
    }
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body {
    background: #000e;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 0;
    animation: box-shadow-pulse 10s ease-in-out infinite;
    font-size: 12pt;
    background-color: #000;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
}

label {
    font-weight: bolder;
    color: white;
}

button,
input[type="submit"] {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    border-width: 0px;
    animation: box-shadow-pulse 10s ease-in-out infinite;
    font-size: 12pt;
    background-color: #000000;
    border-radius: 8px;
}

input[type="submit"] {
    margin-top: 20px;
    width: 200px;
    height: 50px;
}