@keyframes boxShadowPulse {

    0%,
    100% {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #5b04e7;
        /* Light shadow at the beginning and end */
    }

    50% {
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #3a02a7;
        /* Deeper shadow at the midpoint */
    }
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body {
    background: #000000ee;
}

input[type=text],
input[type=email],
textarea {
    width: 100vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 0px;
    animation: boxShadowPulse 10s ease-in-out infinite;
    font-size: 12pt;
    background-color: #000000;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
}

label {
    font-weight: bolder;
    color: white;
}

button {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    border-width: 0px;
    animation: boxShadowPulse 10s ease-in-out infinite;
    font-size: 12pt;
    background-color: #000000;
    border-radius: 8px;
}