<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/general.css') }}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>Upload Icon</title>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var fileInput = document.getElementById('file-upload');
          var label = document.querySelector('label[for="file-upload"]');

          fileInput.addEventListener('change', function() {
              var fileName = fileInput.value.split('\\').pop();
              if (fileName) {
                  label.textContent = fileName;
              } else {
                  label.textContent = 'Choose file';
              }
          });
      });
  </script>
  </head>
  <body>
    <div class="navbar">
      <button onclick="window.location.href='/'">View Badge</button>
      <button onclick="window.location.href='/edit'">Edit Contact</button>
    </div>
    <h1>Upload New Contact Icon</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="input">
          <label for="file-upload" class="custom-file-upload">Choose file</label>
          <input id="file-upload" type="file" name="file" accept=".png, .jpeg, .jpg" />
          <input type="submit" value="Upload" />
      </div>
  </form>
  </body>
</html>
